section {
  color: white;
  background-color: #3c3744;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
a {
  font-family: "lato", "arial", sans-serif;
  color: white;
  text-decoration: none;
}
ul {
  font-family: "lato", "arial", sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
}
.propos {
  flex: none;
  width: 35% !important;

}
.propos div{
    width: 90%!important;
    margin-bottom:16px!important;
}
.footerContent div {
  display: flex;
  flex-direction: column;
  margin: 0 24px 0 0px;
  width: 172px;
}
.footerContent {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
