h2{
    font-family: 'lato', 'arial', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 44px;
}
p{
    font-family: 'lato', 'arial', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}
.why{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 142px;
}