
.flex{
    display: flex;
}
.petit-logo{
    height: 20px;
    width: 20px;
}
.logo-med{
    height:48px;
}
.navCont{
    align-items: center;
    justify-content: space-around;
    
}
nav{
    top:0;
    right: 0;
    left: 0;
    background-color: white;
    position: fixed;
    justify-content: center;
    padding: 16px 0 16px 0;
    
}
.w100{
    width: 100%;
}

a{
    font-family: 'lato', 'arial', sans-serif;
    color: #1b1b1b;
    padding: 0.5rem 0.75rem;   
    text-decoration: none;
    align-items: center;
}
.mr-4{
    margin-right: 4px;
}

