.share{
    
    display: flex;
    margin-left: 12vw;
    margin-bottom: 42px;
    margin-top: 72px;

}
.shareTxt{
    margin-right: 12vw;
    width: 480px;
}
.shareImage{
    width: 720px;
}
h2{
    font-family: 'lato', 'arial', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 44px;
    width: 80%;
}
p{
    font-family: 'lato', 'arial', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    margin-top: 24px;
}