section {
  background-color: #f6f6f6;
  height: 140vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardGrid {
  width: 1200px;
  height: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.avantageContainer {
  width: 50%;
  height: 50%;
  background-color: #FFFFFF;
  border-radius: 16px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.12), 0px 0px 2px rgba(0, 0, 0, 0.08);
}

.cardy {
    padding: 30px;
  height: 600px;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cardImage {
  width: 360px;
}
h3{
    color: #1b1b1b;
    font-size: 28px;
    font-weight: 800;
    line-height: 32px;
    margin-top: 18px;
    margin-bottom: 4px;
}
p{
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
}