.Illustration{
    width: 690px;
    height: 520px;
    border-radius: 16px;
}
.topAvantM{
    display: flex;
    margin: 48px 256px 96px 256px;

}
.infoTop{
    width: 30%;
    margin-right:32px ;
}
.botAvantM{
    display: flex;
    margin: 24px 96px 64px 460px;
}
.infoBot{
    width: 30%;
    margin-left:32px ;
}
h2{
    font-family: 'lato', 'arial', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 44px;
    margin-bottom: 32px;
}
p{
    font-family: 'lato', 'arial', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}
a{
    background-color: #fff;
    border-radius: 8px;
    border: 2px solid #2c6bed;
    color: #2c6bed;
    font-size: 20px;
    line-height: 28px;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(0.5em - 1px);
    padding-left: 1em;
    padding-right: 1em;
    padding-top: calc(0.5em - 1px);
    text-align: center;
    white-space: nowrap;
}