.exp {
  font-family: "lato", "arial", sans-serif;
  display: flex;
  width: 100vw;
  margin-top: 8px;
  margin-bottom: -24px;
}
#expBg {
  background: #9dbbf8;
  padding-top: 24px;

}
.expLeft {
  margin: 0 0 0 256px;
  width: 512px;
}
.expRight {
  position: relative;
  height: 632px;
}
h1 {
  margin-top: 120px;
  margin-bottom: 24px;
  font-size: 60px;
  font-weight: 800;
  line-height: 64px;
}
p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 32px;
}
#phone1,
#phone2 {
  transform: rotate(22.5deg);
}
#phone1 {
  margin-left: 0px;
  margin-top: 46px;
  width: 320px;
}
#phone2 {
  margin-left: -32px;
  position: absolute;
  width: 300px;
  top: 0px;
}
.btnObtenir{
    background-color: #fff;
    font-size: 20px;
    padding: 12px 20px;
    margin-top: 8px;
    border: none;
    border-radius: 8px;
    font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
}